@model ECF_auto_ecole.Models.Modele

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Modele</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Année)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Année)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAchat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAchat)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ModèleVéhicule">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
