@model ECF_auto_ecole.Models.Moniteur

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Moniteur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomMoniteur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomMoniteur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrénomMoniteur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrénomMoniteur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateNaissance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateNaissance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEmbauche)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEmbauche)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activité)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activité)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdMoniteur">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
