@model ECF_auto_ecole.Models.Lecon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lecon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Durée)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Durée)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateHeureNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateHeureNavigation.DateHeure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMoniteurNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMoniteurNavigation.IdMoniteur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdÉlèveNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdÉlèveNavigation.IdÉlève)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModèleVéhiculeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModèleVéhiculeNavigation.ModèleVéhicule)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdÉlève">Modifié</a> |
    <a asp-action="Index">Back to List</a>
</div>
